packages:
  yum:
    mysql-devel: []

container_commands:
  01_install_rvm_gpg_keys:
    command: gpg --keyserver hkp://keys.gnupg.net --recv-keys 409B6B1796C275462A1703113804BB82D39DC0E3
    leader_only: true
  02_install_ruby:
    command: curl -sSL https://get.rvm.io | bash -s stable --ruby=2.3.3 --gems=bundler
    leader_only: true
  03_bundle_install:
    command: /usr/local/rvm/bin/rvm-exec 2.3.3 bundle install
    leader_only: true
  04_migrate_database:
    command: /usr/local/rvm/bin/rvm-exec 2.3.3 bundle exec rake db:migrate
    leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:container:java:staticfiles
    option_name: /assets
    value: resources/public/assets
